th {
    /* padding: "0px 5px !important"; */
    font-weight: 500 !important;
    font-size: 12px !important;
    background-color: #F4F6F8 !important;
    color: #718096 !important;
    text-transform: uppercase !important;
}
td {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #23293D !important;
}





