.navbar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    height: 100vh;
    /* padding: var(--mantine-spacing-md); */
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}